@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* ANIMATIONS */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-animation {
  animation: shake 0.4s linear 1;
}


@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.scale-up-animation {
  animation: scaleUp 0.4s linear 1;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#474343, #363535);
  background-size: 0 1.5px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-profile {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#4b71e2, #5291bb);
  background-size: 0 1.5px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out .2s;
}


.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}


.link-underline-profile:focus {
  background-size: 100% 3px;
  background-position: 0 100%
}

/* END ANIMATIONS */

textarea::placeholder {
  color: rgb(35, 36, 95);
}


